In [1]:
import requests 
from bs4 import BeautifulSoup 
URL= "URL_files.txt"
with open(URL, "r") as f:
  url_pages = f.read()
pages = url_pages.split("\n") 
records = []

In [2]:
for single_page in pages:
    #print(single_page)
    page = requests.get(single_page)
    soup = BeautifulSoup(page.text, 'html.parser')
    results = soup.find_all('td')
    
    for k in range(0,len(results),24):
        Date=results[k].text
        Location=results[k+1].text
        MinTemp=results[k+2].text
        MaxTemp=results[k+3].text
        Rainfall=results[k+4].text
        Evapouration=results[k+5].text
        Sunshine=results[k+6].text
        WindGustDir=results[k+7].text
        WindGustSpeed=results[k+8].text
        WindDir9am=results[k+9].text
        WindDir3pm=results[k+10].text
        WindSpeed9am=results[k+11].text
        WindSpeed3pm=results[k+12].text
        Humidity9am=results[k+13].text
        Humidity3pm=results[k+14].text
        Pressure9am=results[k+15].text
        Pressure3pm=results[k+16].text
        Cloud9am=results[k+17].text
        Cloud3pm=results[k+18].text
        Temp9am=results[k+19].text
        Temp3pm=results[k+20].text
        RainToday=results[k+21].text
        RISK_MM=results[k+22].text
        RainTomorrow=results[k+23].text
        records.append((Date,Location,MinTemp,MaxTemp,Rainfall,Evapouration,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,
                   WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow))

In [3]:
import pandas as pd
df = pd.DataFrame(records, columns=['Date','Location','MinTemp','MaxTemp','Rainfall','Evapouration','Sunshine','WindGustDir','WindGustSpeed','WindDir9am','WindDir3pm','WindSpeed9am',
                   'WindSpeed3pm','Humidity9am','Humidity3pm','Pressure9am','Pressure3pm','Cloud9am','Cloud3pm','Temp9am','Temp3pm','RainToday','RISK_MM','RainTomorrow'])

In [5]:
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evapouration,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,nan,nan,W,44.0,W,...,22.0,1007.7,1007.1,8.0,nan,16.9,21.8,No,0.0,No
1,2008-12-02,Albury,7.4,25.1,0.0,nan,nan,WNW,44.0,NNW,...,25.0,1010.6,1007.8,nan,nan,17.2,24.3,No,0.0,No
2,2008-12-03,Albury,12.9,25.7,0.0,nan,nan,WSW,46.0,W,...,30.0,1007.6,1008.7,nan,2.0,21.0,23.2,No,0.0,No
3,2008-12-04,Albury,9.2,28.0,0.0,nan,nan,NE,24.0,SE,...,16.0,1017.6,1012.8,nan,nan,18.1,26.5,No,1.0,No
4,2008-12-05,Albury,17.5,32.3,1.0,nan,nan,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No

In [6]:
df.tail()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evapouration,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
142188,2017-06-20,Uluru,3.5,21.8,0.0,nan,nan,E,31.0,ESE,...,27.0,1024.7,1021.2,nan,nan,9.4,20.9,No,0.0,No
142189,2017-06-21,Uluru,2.8,23.4,0.0,nan,nan,E,31.0,SE,...,24.0,1024.6,1020.3,nan,nan,10.1,22.4,No,0.0,No
142190,2017-06-22,Uluru,3.6,25.3,0.0,nan,nan,NNW,22.0,SE,...,21.0,1023.5,1019.1,nan,nan,10.9,24.5,No,0.0,No
142191,2017-06-23,Uluru,5.4,26.9,0.0,nan,nan,N,37.0,SE,...,24.0,1021.0,1016.8,nan,nan,12.5,26.1,No,0.0,No
142192,2017-06-24,Uluru,7.8,27.0,0.0,nan,nan,SE,28.0,SSE,...,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,0.0,No

In [7]:
df.to_csv('dataset.csv', index=False, encoding='utf-8')